.header {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--bcp);
    width: max-content;
    height: max-content;
    border-radius: var(--border_radius);
    box-shadow: var(--shadow);
    padding: 10px 20px;
    transition: all .4s ease;
    gap: 200px;
}
#logo {
    width: 160px;
}
a {
    color: var(--tpc-primary);
    text-decoration: none;
    font-weight: 500;
}
ul li {
    list-style: none;
}
.container_links {
    display: flex;
    align-items: center;
    gap: 40px;
}
.link {
    display: flex;
    align-items: center;
    gap: 5px;
}
.link:hover {
    color: var(--btn-color);
}
#btn_menu {
    display: none;
    font-size: 30px;
}
.btn_contato {
    padding: 8px 16px;
    background-color: var(--btn-color);
    border-radius: 10px;
    color: var(--bcp);
}
.btn_contato:hover {
    background-color: var(--btn-color-hover);
}

@media (max-width: 1500px) {
    .header {
        transition: all .4s ease;
        gap: 140px;
    }
}
@media (max-width: 1400px) {
    .header {
        transition: all .4s ease;
        gap: 100px;
    }
}
@media (max-width: 1400px) {
    .header {
        transition: all .4s ease;
        gap: 40px;
    }
}

@media (max-width: 1190px) {
    .header {
        transition: all .4s ease;
        gap: 20px;
    }
}
@media (max-width: 1150px) {
    .header {
        transition: all .4s ease;
        gap: 480px;
    }
    .btn_contato {
        display: none;
    }
    .container_links {
        transition: all .4s ease;
        display: none;
    }

    #btn_menu {
    display: block;
    }

}


@media (max-width: 771px) {
    .header {
        transition: all .4s ease;
        gap: 400px;
    }
}
@media (max-width: 640px) {
    .header {
        transition: all .4s ease;
        gap: 300px;
    }
}
@media (max-width: 540px) {
    .header {
        transition: all .4s ease;
        gap: 240px;
    }
}
@media (max-width: 480px) {
    .header {
        transition: all .4s ease;
        gap: 180px;
    }
}
@media (max-width: 430px) {
    .header {
        transition: all .4s ease;
        gap: 140px;
    }
}

@media (max-width: 400px) {
    .header {
        transition: all .4s ease;
        gap: 100px;
    }
}
@media (max-width: 340px) {
    .header {
        transition: all .4s ease;
        gap: 80px;
    }
}
@media (max-width: 310px) {
    .header {
        transition: all .4s ease;
        gap: 40px;
    }
}
@media (max-width: 280px) {
    .header {
        transition: all .4s ease;
        gap: 20px;
    }
}