.container_newslater {
    width: 100vw;
    height: 300px;
    background-color: #ffffff;
}
.newslater {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 24px;
    width: 1000px;
    height: max-content;
    background: var(--bcl);
    border-radius: 14px;
    margin: 0 auto;
}
.text_newslater {
    text-align: center;
}
#form_newslater {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
input {
    font-weight: 500;
    padding: 14px;
    width: 400px;
    border-radius: 14px;
    border: none;
    box-shadow: var(--shadow);
}
.btn_form {
    background-color: var(--btn-color);
    border: none;
    font-weight: 500;
    color: #ffffff;
    padding: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .4s ease;
}
.btn_form:hover {
    transition: all .4s ease;
    background-color: var(--btn-color-hover);
}

@media (max-width: 391px) {
    .container_newslater {
        width: 100%;
    }
    .text_newslater {
        margin: auto;
        width: 24ch;
        font-size: 24px;
    }
    #form_newslater {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    input {
        width: 300px;
    }
    .btn_form {
        width: 300px;
    }
}