.sobre_nos {
    display: grid;
    justify-content: center;
    margin-top: 0px;
    width: 100vw;
    height: max-content;
    background-color: var(--bcp);
}
.card_dash {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: -80px;
    width: 1000px;
    height: 140px;
    background-color: var(--bcp);
    box-shadow: var(--shadow);
    border-radius: 20px;
    z-index: 1;
    transition: all .4s ease;
}
.total_clientes_base {
    display: flex;
    align-items: center;
    justify-content: center;

}
.p_clientes_base {
    font-size: 28px;
    color: #000000;
}
.line_base {
    height: 2px;
    width: 80px;
    transform: rotate(90deg);
    background-color: #000000;
}
.h4_clientes_base {
    font-size: 24px;
    font-weight: 500;
}
.h4_ativos {
    font-size: 24px;
}
.taxa_satisfacao {
    display: flex;
    align-items: center;
    gap: 14px;
}
.percent {
    width: max-content;
}

.value {
    color: #0B5BC6;
    font-size: 40px;
}
.cidades {
    display: flex;
    align-items: center;
    gap: 14px;
}
#img_sobre {
    margin-top: -60px;
    width: 700px;
}
.inform_sobre {
    display: flex;
    align-items: center;
}
.sobre {
    display: flex;
    flex-direction: column;
}
h2.text_sobre {
    font-size: 38px;
    color: var(--btn-color);
}
h3.text_sobre_conectamos {
    font-size: 20px;
}
p.p_sobre {
    width: 40ch;
    color: #000000;
}

@media (max-width: 1000px) {
    .card_dash {
        transition: all .4s ease;
        width: 900px;
    }
}
@media (max-width: 900px) {
    .card_dash {
        transition: all .4s ease;
        width: 700px;
    }
    .p_clientes_base {
        font-size: 20px;
    }
    .value {
        font-size: 28px;
    }
    .h4_clientes_base {
        font-size: 18px;
    }
    .h4_ativos {
        font-size: 18px;
    }
}
@media (max-width: 641px) {
    .card_dash {
        transition: all .4s ease;
        flex-direction: column;
        width: max-content;
        height: max-content;
        justify-content: center;
        gap: 20px;
    }
    .taxa_satisfacao {
        transition: all .4s ease;
        text-align: center;
        flex-direction: column;
    }
    .cidades {
        transition: all .4s ease;
        text-align: center;
        flex-direction: column;
    }
    .total_clientes_base {
        transition: all .4s ease;
        text-align: center;
        flex-direction: column;
    }
    .line_base {
        transition: all .4s ease;
        transform: rotate(0deg);
    }
    .p_clientes_base {
        transition: all .4s ease;
        font-size: 24px;
        color: #0B5BC6;
    }
}

@media (max-width: 360px) {
    .card_dash {
        transition: all .4s ease;
        flex-direction: column;
        width: max-content;
        height: max-content;
        justify-content: center;
        gap: 20px;
    }
    .taxa_satisfacao {
        transition: all .4s ease;
        text-align: center;
        flex-direction: column;
    }
    .cidades {
        transition: all .4s ease;
        text-align: center;
        flex-direction: column;
    }
    .total_clientes_base {
        transition: all .4s ease;
        text-align: center;
        flex-direction: column;
    }
    .line_base {
        transition: all .4s ease;
        transform: rotate(0deg);
    }
    .p_clientes_base {
        transition: all .4s ease;
        font-size: 24px;
        color: #0B5BC6;
    }
}