@import "header.css";
@import "hero.css";
@import "sobrenos.css";
@import "solucoes.css";
@import "feedback.css";
@import "newslater.css";
@import "contato.css";
@import "footer.css";

:root {
    --bcp: #ffffff;
    --bcl: linear-gradient(43deg, rgba(6,98,221,1) 11%, rgba(26,71,131,1) 55%, rgba(26,71,131,1) 100%) no-repeat;
    --btn-color: #FF6400;
    --btn-color-hover: #FF7D0A;
    --tpc-primary: #000000;

    --border_radius: 14px;

    --shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}


* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--bcl);
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    width: 100dvw;
    overflow-x: hidden;
}

main {
    grid-area: 2;
}
footer {
    grid-area: 3;
}
